.container {
  max-width: 430px;
}

#footer {
  margin-top: 10px;
}

#rand {
  width: 60px;
  font-size: 12px;
  padding-left: 5px;
}

#baseurl {
  padding: 0;
}

#url-dialog-newurl {
  width: 100%;
}